# /usr/bin/pip3 install --upgrade pip
# pip3 install mmcv-full==1.5.0 -f https://download.openmmlab.com/mmcv/dist/cu111/1.8.2/index.html
# pip3 install torch==1.8.2 torchvision==0.9.2 torchaudio==0.8.2 --extra-index-url https://download.pytorch.org/whl/lts/1.8/cu111
# pip3 install KneronPLUS-2.1.1-py3-none-any.whl

pre-commit
face_recognition
mmdet<=2.28.2

markdown==3.4.4
json_tricks
protobuf<=3.20.3
#protobuf==3.19.6

chumpy
matplotlib
munkres
#numpy==1.23.5
numpy==1.19.5
#opencv-python
opencv-python==4.2.0.32
pillow
scipy
xtcocotools>=1.8

coverage
flake8
interrogate
isort==4.3.21
pytest
pytest-runner
smplx>=0.1.28
xdoctest>=0.10.0
yapf

albumentations>=0.3.2 --no-binary qudida,albumentations
onnx==1.7.0
onnxruntime==1.10.0
#tf2onnx==1.8.4
tf2onnx==0.4.2
poseval@git+https://github.com/svenkreiss/poseval.git
pyrender
#requests
requests==2.31.0
trimesh

typing-extensions==3.7.4.3
python-dateutil==2.8.2
packaging==21.2
flatbuffers==1.12
chardet==4.0.0
elastic-transport==8.0.0
google-auth==2.15.0
urllib3==1.26.2
grpcio==1.32.0
testresources
setuptools
scikit-learn==0.20.3
opencv-contrib-python==4.2.0.32
tensorflow==2.4.0
keras_applications
tensorflow-model-optimization==0.5.0
tensorflow-addons
tqdm
mnn
Cython
pycocotools
keras2onnx
tfcoreml==1.1
sympy
imgaug
imagecorruptions
bokeh
tidecv
pyproject-toml
keras==2.4.3
segmentation-models
keras_preprocessing
six
markupsafe==2.0.1
werkzeug==2.0.1

snoop
docopt
serial
tifffile
PyYAML
typing_extensions
